.main {
    display: flex;
    min-height: 100vh;
}

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    width: 1000px;
    height: 100vh;
    margin-inline: auto;
}

.title,
.description {
    text-align: center;
}

.navigationContainer {
    width: 100%;
    position: absolute;
    bottom: 60px;
}
